body{
  display: grid;
  place-content: center;
  background-color: darkseagreen;
}

.noria{
  --size: 7rem;
  position: relative;
  width: var(--size);
  height: var(--size);

  &__ejeCentral{
    position: absolute;
    width: var(--size);
    height: var(--size);
    inset: 0;
    aspect-ratio: 1/1;
    position: absolute ;

    .noria__imgEje{
      position: absolute;
      width: var(--size);
      height: var(--size);
      background-color: aliceblue;
      border-radius: 1rem;
      aspect-ratio: 1/1;
      transition: opacity 0.5s linear;
      &--zIndex-1{
        z-index: 1;
        &:hover{
          opacity: 0;
        }
      }
    }
  }

  &__containerBoxes{
    --time: 30s;
    --distancia: calc(var(--size) + 80px);
    --deg: 0deg;
    position: absolute ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--size);
    height: var(--size);
    animation: girar var(--time) infinite linear;
   //Ademas de detener la animación crea una variable personalizada que extrapolaremos a otra animación y asi poner pausar 2 o mas animaciones  a la vez
    &:hover {
      animation-play-state: paused;
      --pausarAnimaciones : paused;
    }


    $list:(red, #fefefe, green, purple, rgb(83, 87, 88), red, blue, green, purple, skyblue);
    $total:10;
    @for $i from 1 through ($total) {
      :nth-child(#{$i}){
        --deg: calc((360deg / #{$total} ) * #{$i});
      }
    }

    @for $i from 1 through $total {
      .noria__box:nth-child(#{$i}) .noria__boxElements {
        background-color: nth($list, $i);
      }
    }
    
    .noria__box{
      position: absolute;
      height: calc(var(--size) / 1.2);
      width: calc(var(--size) / 1.2);
      padding: 0.5rem;
      transform: translate(
        calc(cos(var(--deg)) * var(--distancia)),
        calc(sin(var(--deg)) * var(--distancia))
      );

      .noria__boxElements{
        position: relative;
        border-radius: 50%;
        padding: 0.5rem;
        animation: girar var(--time) infinite linear reverse, scale 2s ease infinite;
        overflow: hidden;  
        animation-play-state: var(--pausarAnimaciones);

        .noria__img{
          aspect-ratio: 1/1;
          object-fit: contain;
        }
        .noria__text{
          color: aliceblue;
        }
      }
    }
  }
}

@keyframes scale {
  0%{
    scale: 1;
  }
  50%{
    scale: 1.07;
  }
  100%{
    scale: 1;
  }
}

@keyframes girar {
  100%{ 
    transform: rotate(360deg);
  }
}